h1{color: white;}
body{color: white;
	text-align: center;
	background: #392e5c;
	font-family: 'K2D', sans-serif;}
header{background: black; text-align: left}
.logo{width: 100px;padding: 10px;}
.Chibi{width: 25%;}
.twitch{color: white; font-size: 50px;}
.twitch:hover{color:grey;}
.links{color: white; font-size: 24px; text-decoration: none;}
.links:hover{color:grey;}
.mail{font-size: 32px;}
.menu{color:white; font-size: 24px; background-color: black; border: none;text-decoration: none; padding: 10px;}
.menu:hover{background-color: white;color: black;text-decoration: none;}